<div class="container">

<div class="card-panel-thin orange lighten-1" height=60px><h4 class="white-text">&nbsp&nbsp meet <i>artlantis </i> </h4></div>


<div class="row">
	<div class="col s4"  align="center">
		<%= image_tag "us/agus.jpg", height: '150', width: '150', class:"responsive-img circle" %>
	</div>
	<div class="col s8"><br>
		<b>Agustina</b> is a fifth-year engineering student from Argentina who has been 
			  doing art for almost a decade now. She's worked as a freelance illustrator for
			  the advertising industry and has seen her work published in zines like <b>Milky Blood</b>. She also loves drawing fanart whenever she has time, and is currently working on an online comic called <%= link_to "Cambalache", "http://cambalache.webcomic.ws" %>.
	</div>	
</div>

<div class="divider"></div>

<div class="row"><br>
	<div class="col s4" align="center">
		<%= image_tag "us/unknown.gif",  height: '150', width: '150', class:"responsive-img circle" %>
	</div>
	<div class="col s8">
		<p><b>Gabriel</b></p>
	</div>	
</div>

<div class="divider"></div>

<div class="row"><br>
	<div class="col s4" align="center">
		<%= image_tag "us/unknown.gif", height: '150', width: '150', class:"responsive-img circle" %>
	</div>
	<div class="col s8">
		<p><b>Hernán</b> </p>
	</div>	
</div>

<div class="divider"></div>

<div class="row"><br>
	<div class="col s4" align="center">
		<%= image_tag "us/unknown.gif", height: '150', width: '150', class:"responsive-img circle" %>
	</div>
	<div class="col s8">
		<p><b>Pablo</b> </p>
	</div>	
</div>

<div class="divider"></div>

<div class="row"><br>
	<div class="col s4" align="center">
		<%= image_tag "us/unknown.gif", height: '150', width: '150', class:"responsive-img circle" %>
	</div>
	<div class="col s8">
		<p><b>Sergio</b> </p>
	</div>	
</div>

</div>