<div class="container small">
<div class="row">
<div class="col s6 offset-s3"><br><br>
	<h4 class="grey-text">Log in</h4>
		<%= form_for(:session, url: login_path) do |f| %>
		<div class="row">
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
		</div>
		<div class="row">
			<div class="col s6 offset-s6" align="right"><%= f.submit "Log me in" %><br>
			<i>New user? <%= link_to "Sign up now!", signup_path %></i>
			</div>
		</div>
		<% end %>
</div>
</div>
</div>

  <div id="signedin" class="modal">
    <div class="modal-content">
      <p>Welcome back, <b>user</b>!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>