<%= form_for(@user) do |f| %>
<div class="modal-content">
  <div class="input-field">
      <%= f.label :name %>
      <%= f.text_field :name, class:"validate" %>
  </div>
  <div class="input-field">
      <%= f.label :email %>
      <%= f.email_field :email, class:"validate" %>
  </div>
  <div class="input-field">
      <%= f.label :sex %>
      <%= f.text_field :sex %>
  </div>
   <div class="input-field">
       <%= f.label :age %>
       <%= f.text_field :age %>
  </div>
  <div class="input-field">
      <%= f.label :password %>
      <%= f.password_field :password, class:"validate" %>
  </div>
  <div class="input-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class:"validate" %>
  </div>
  <div class="input-field">
      <%= f.label "Choose yout profile photo" %>
      <%= f.file_field :avatar %>
  </div>
</div>
<div class="modal-footer">
  <%= f.submit "Sign me up!",class:"modal-trigger modal-close waves-effect waves-green btn-flat" %>
  <%= link_to "Cancel", "#", class: "modal-action modal-close waves-effect waves-green btn-flat", data: {dismiss: "modal"} %>
</div>    
<% end %>
