<%= form_for @user do |f| %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :email %>
	<%= f.text_field :email %>
</p>
<p>
	<%= f.label :age %>
	<%= f.file_field :age %>
</p>

<p>
	<%= f.label :sex %>
	<%= f.file_field :sex %>
</p>

<p>
	<%= f.label :age %>
	<%= f.file_field :age %>
</p>

<p>
	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
</p>
<p><%= f.submit "Submit" %></p>
<% end %>