<!--
<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div>
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
-->
    <div class="container max-width">
    <div class="section">
    <div class="row">
      <div class="col s6 m3"><%= image_tag @user.avatar.url(:small), class:"circle responsive-img", style:"width:80px; height:80px;" %></div>
            <div class="col s6 m9"><h3>Welcome, <b><%= @user.name %></b>!</h3></div>
             <div class="row">
        <div class="col s12">
          <ul class="tabs">
          <li class="tab col s4"><a href="#shop">My Shop</a></li>
          <li class="tab col s4"><a class="active" href="#account">Account</a></li>
          <li class="tab col s4"><a href="#comm">Pending Commissions</a></li>
          </ul>
        </div>
<div id="shop" class="col s12">
          <ul class="collapsible" data-collapsible="accordion">
            <li>

              <!-- EDITAR DESCRIPCION -->
              <div class="collapsible-header">Edit your description</div>
              <div class="collapsible-body" align="right">
                <label for="textarea1">Describe who you are and what you do!</label>
                <textarea id="text" class="materialize-textarea"></textarea>
                <a href="#!" class="waves-effect waves-green btn-flat">Save</a>
              </div>
              <!-- EDITAR DESCRIPCION -->


            </li>
  <li>
    <div class="collapsible-header">Manage your commission slots</div>
      <div class="collapsible-body" align="center">
        <!-- DATOS DE COMISIONES SUBIDAS -->
        <% if @user.paints.count != 0 %>
          You're currently offering the following services: <br><br>
          <% @user.paints.each_slice(2) do |paint1, paint2| %>
          <div class="row">
            <a href="#<% paint1.id %>" class="modal-trigger">
              <div class="col s12 m6">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <%= image_tag paint1.paint %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-3">
                    <%= paint1.title %>
                  </span><br>
                  <span class ="green-text text-darken-2">$<%= paint1.price %></span> / 
                  <span class ="green-text text-darken-2"><%= paint1.week %> week</span> / 
                  <span class ="green-text text-darken-2"><%= paint1.pieces %> pieces</span>    
                </div>      
              </div>      
              </div>
            </a>
            <% if !paint2.nil? %>
            <a href="#<% paint2.id %>"  class="modal-trigger">
              <div class="col s12 m6">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <%= image_tag paint2.paint %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-3">
                    <%= paint2.title %>
                  </span><br>
                  <span class ="green-text text-darken-2">$<%= paint2.price %></span> / 
                  <span class ="green-text text-darken-2"><%= paint2.week %> week</span> / 
                  <span class ="green-text text-darken-2"><%= paint2.pieces %> pieces</span>    
                </div>      
              </div>      
              </div>
            </a>
            <% end %>
        </div>
          <% end %>
        <% end %>
        <div class="row">
          Upload a new commission: 
          <!-- FORMULARIO SUBIDA DE COMISIONES -->

    <%= form_for([@user, @user.paints.build]) do |f| %>
      <div class="input-field col s12">
        <%= f.text_field(:title, placeholder:'Title of the commission')%>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <%= f.text_field(:price, placeholder:'Price')%>
        </div>
        <div class="input-field col s4">
            <%= f.text_field(:pieces, placeholder:'# Slots') %>
        </div>
        <div class="input-field col s4">
          <%= f.text_field(:week, placeholder:'Time to complete') %>
        </div>
      </div>
      <%= f.text_area(:description, placeholder:"Describe what you're offering. Don't leave out any details!", class:"materialize-textarea")%>
      <div class="file-field input-field btn">
        <span> Choose your sample image </span>
        <%= f.file_field :paint , type:"file"%> 
      </div>
      <div class="row" align="right">
        <%= f.submit "Save" %>
       <%= button_tag "Cancel", type: :reset %>
      </div>
    <% end %>

        <!-- FORMULARIO SUBIDA DE COMISIONES -->

        </div>
      </div>
  </li>
  </ul>
</div>
<div id="account" class="col s12">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Change your password</div>
      <div class="collapsible-body" align="right">
        <!-- CAMBIAR PASS -->
        <%= form_for(@user) do |f| %>
          <div class="input-field">
            <%= f.password_field(:password, placeholder:'New password') %>
          </div>
          <div class="input-field">
            <%= f.password_field(:password_confirmation, placeholder:'Repeat new password') %>
          </div>
            <%= f.submit "Change your password" %>
        <% end %>
        <!-- CAMBIAR PASS -->
      </div>

    </li>
    <!-- CAMBIAR MAIL -->
    <li>
      <div class="collapsible-header">Change your email</div>
      <div class="collapsible-body" align="right">
        <center>Your current email is: <span class="orange-text"><%= @user.email %> </span></center>
        <%= form_for(@user) do |f| %>
          <div class="input-field grey-text">
             <%= f.email_field(:email, placeholder:'New Email') %>
          </div>
          <%= f.submit "Save"%>
        <% end %>
      </div>
    </li>
    <!-- CAMBIAR MAIL -->
    <!--ESTATICO-->        
    <li>
      <div class="collapsible-header">Billing info</div>
      <div class="collapsible-body grey-text"  align="right">
          <center>We're currently transferring your payments to the Paypal account associated to: <b>  <%= @user.email %> </b></center>
          <div class="input-field"><input disabled placeholder="Not available for now!" id="newmail" type="text" class="validate"></div>
          <a disabled class="btn-flat grey-text">Save</a>
      </div>
    </li>
    <!--ESTATICO-->         
    
    <!-- CAMBIAR AVATAR -->
    <li>
      <div class="collapsible-header">Change your icon</div>
      <div class="collapsible-body"  align="right">
        <%= form_for(@user) do |f| %>
           <div class="file-field input-field btn">
            <span> Choose your profile image </span>
            <%= f.file_field :avatar , type:"file"%> 
          </div>
          <%= f.submit "Upload"%>
        <% end %>
      </div>
     </li>
  </ul>
  </div>
  <!--ESTATICO-->  
  <div id="comm" class="col s12 grey-text"><br><br>Not available yet, sorry! We're working on it!</div>
  <!--ESTATICO-->  
  </div>
  </div>
    </div>
    </div>

  <!-- END CONTENT -->
    
  <!-- BEGIN MODAL SCREENS -->
  <div id="sorry" class="modal modal-art">
    <div class="modal-content">
      <h6>We're so sorry! But we're working on this feature. We'll email you when it's available :D</h6>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
  
  <% if @user.paints.count != 0 %>
  <% @user.paints.each do |paint| %>
  <div id="slot1" class="modal modal-art">
      <%= form_for(@user.paint) do |f| %>
    <div class="modal-content">
      <div class="row">
        <div class="col s4">
          <%= image_tag paint.paint %>
          <div class="file-field input-field">
            <div class="btn">
              <span>Change file</span>
              <%= f.file_field :paint , type:"file"%> 
            </div>
          </div>
        </div>
        <div class="col s8">
          <%= f.text_field(:title)%>
          <%= f.text_field(:price)%>         
          <%= f.text_field(:pieces) %>
          <%= f.text_field(:week) %>
          <%= f.text_area(:description, class:"materialize-textarea")%>     
        </div>        
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Save" %>
      <%= button_tag "Cancel", type: :reset %>
    </div>
    <% end %>
  </div>
  <% end %>
<% end %>
   