<!-- BEGIN CONTENT -->
	<div class="container">
	<div class="section">
		<div class="row" >
			<div class ="col s12 m4"><%= image_tag "logo_mascot.png", class:"responsive-img" %></div>
			<div class ="col s12 m6">
				<div class="card  lime darken-2">
					<div class="card-content white-text big">
						<span class="card-title">Start <i>selling</i> your art!</span>
							<p>Ever wondered how to make a living out of what you love doing the most? <br><br>
							   <i>Wonder no more!</i> <br><br>
							   Artlantis provides both a place for you to set up your own
							   art shop and learn how to navigate through the tempestuous waters of
							   the art business world. It's easy, it's quick, and it provides you with a safe
							   marketplace where you can safely reach out and attend to your customers.</p>
					</div>
					<div class="card-action right">
						<%= link_to "Take a tour", :controller=>"static_pages", :action => "tour", class:"white-text" %>
						<b><%= link_to "Get started!", signup_path , class:"white-text" %></b>
					</div>
				</div>
			</div>
			<div class="col s12 m2">
				<div class="row">
					<h6>Popular <b>commissions</b></h6>
					<div class="col s6">
						<%= link_to "#popcomm", { :class=>"modal-trigger" } do %>
							<%= image_tag "popcomm/1.jpg", class:"responsive-img circle" %>
						<% end %>
					</div>
					<div class="col s6">
						<%= link_to "#popcomm", { :class=>"modal-trigger"} do %>
							<%= image_tag "popcomm/2.jpg", class:"responsive-img circle" %>
						<% end %>
					</div>
				</div>						
				<div class="row">
					<div class="col s6">
						<%= link_to "#popcomm", {:class=>"modal-trigger"} do %>
							<%= image_tag "popcomm/3.jpg", class:"responsive-img circle" %>
						<% end %>
					</div>
					<div class="col s6">
						<%= link_to "#popcomm", {:class=>"modal-trigger"} do %>
							<%= image_tag "popcomm/4.jpg", class:"responsive-img circle" %>
						<% end %>
					</div>
				</div>		
				<div class="row">
				<h6>Featured <b>Artists</b></h6>
				<div class="col s6">
					<%= link_to "#popcomm", {:class=>"modal-trigger"} do %>
						<%= image_tag "0.png", class:"responsive-img circle" %>
					<% end %>
				</div>
				<div class="col s6">
					<%= link_to "#popcomm", {:class=>"modal-trigger"} do %>
						<%= image_tag "0.png" , class:"responsive-img circle" %>
					<% end %>
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	

<!-- MODAL SCREEN -->
  <div id="popcomm" class="modal">
    <div class="modal-content" align= "center">
      <p>
      	<h5 class="orange-text">Your art <b><i>could be here</i></b></h5>
      			<%= image_tag "frame2.png", class:"responsive-img" %>
      		<%= link_to "Sign up now!", signup_path %></i> and build your own art shop.<br>
      		Your clients are <b>waiting</b> for you! 
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

<!-- MODAL SCREENS -->