<!-- BEGIN CONTENT -->
	<div class="container max-width">
	<div class="section">
		<% @paints.each_slice(3) do |paint1,paint2,paint3| %>
		<div class="row">
			<div class ="col s4">
			<a class="modal-trigger green-text" href="#<%= paint1.id%>">
				<div class="card small">
					<div class="card-image"><%= image_tag paint1.paint.url(:medium)%></div>
					<div class="card-content">
						<b><%= paint1.title %></b> 
						<span class="grey-text">
							by <i><%= paint1.user.name %></i> - <b>USD$ 
								<%= number_with_precision(paint1.price, :precision=>2) %></b>
						</span>
						</div>
				</div>
			</a>
			</div>
			<% if !paint2.nil? %>
			<div class ="col s4">
			<a class="modal-trigger green-text" href="#<%= paint2.id%>">
				<div class="card small">
					<div class="card-image"><%= image_tag paint2.paint.url(:medium)%></div>
					<div class="card-content">
					<b><%= paint2.title %></b> 
					<span class="grey-text">
						by <i><%= paint2.user.name %></i> - <b>USD$ 
							<%= number_with_precision(paint2.price, :precision=>2) %></b>
					</span>
					</div>
				</div>
			</a>
			</div>
			<% end %>
			<% if !paint3.nil? %>
			<div class ="col s4">
			<a class="modal-trigger green-text" href="#<%= paint3.id%>">
				<div class="card small">
					<div class="card-image"><%= image_tag paint3.paint.url(:medium)%></div>
					<div class="card-content">
					<b><%= paint3.title %></b> 
					<span class="grey-text">
						by <i><%= paint3.user.name %></i> - <b>USD$ 
							<%= number_with_precision(paint3.price, :precision=>2) %></b>
					</span>
					</div>
				</div>
			</a>
			</div>
			<% end %>
		</div>
		<% end %>
	</div>
	</div>



<% if @paints.count != 0 %>
  <% @paints.each do |paint| %>
    <div id="<%= paint.id %>" class="modal modal-art">
      <div class="modal-content">
          <center>
             <%= image_tag paint.paint, class:"responsive-artwork" %>
            <br>
          </center><div class="row">
          <b><%= paint.title %></b> by <i><%= paint.user.name %></i><br>$USD <%= paint.price %><br>
            <%= paint.description %>
        </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          <a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
        </div>
    </div>
  <% end %>
<% end %>

 <div id="commissionme" class="modal modal-art">
    <div class="modal-content">
      <div class="input-field"><input placeholder="Your name" id="Name" type="text" class="validate"></div>
      <div class="input-field"><input placeholder="Your email address" id="email" type="text" class="validate"></div>
      <div class="input-field">
        <textarea id="text" class="materialize-textarea"></textarea>
        <label for="textarea1">A description of your commission request. Don't leave out any details!</label>
      </div>
       <input type="checkbox" class="filled-in" id="securetrans" checked="checked" />
      <label for="securetrans">Make this a <b>secure transaction</b></label> 
      <a class="modal-trigger" href="#explain">What's this?</a>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Commission</a>
    </div>
  </div>
  
  <div id="explain" class="modal">
    <div class="modal-content" align="center">
      A secure transaction means that the request will
      be handled through the site. We will give you an ID so you can check on the progress
      of your commission, and we'll withhold the payment to the artist until you've indicated
      that it's completed. Should anything happen, we will reimburse you. There's a transaction fee of 8%. 
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>