<div class="container">
<div class="row">
<div class="col s8">
<p>If you're experiencing any trouble or have any questions you'd like us to answer, don't hesitate to contact us through this form! We'll get back to you as soon as possible!</p>

<%= form_for @contact, url: contact_path(@contact), html: { method: :post } do |f| %>
<%= render 'shared/error_contact_messages' %>
  <div class="input-field">
      <%= f.label "Full name: *" %>
      <%= f.text_field :name, class:"validate" %>
  </div>
  <div class="input-field">
      <%= f.label "Profession: *" %>
      <%= f.text_field :profession, class:"validate" %>
  </div>
  <div class="input-field">
      <%= f.label :email %>
      <%= f.email_field :email, class:"validate" %>
  </div>
   <div class="input-field">
      <%= f.label :message %>
      <%= f.text_area :message, class:"materialize-textarea"%>
  </div>
</div>
</div>
<div class="row">
    <%= f.submit "Submit"%>
    <%= link_to "Cancel", root_path, class:"waves-green btn-flat" %>
</div>    
<% end %>
</div>